body {
    background-color: #ADD8E6; /* Light grayish blue background */
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    position: relative;
}

.carousel-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.carousel-container {
    flex: 1;
    margin: 0 1rem;
}

.email-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Full width for email bar */
    margin-top: 6rem; /* Space between carousel and email bar */
    background-color: black; /* Deep teal background */
    color: white;
    padding: 1rem 2rem;
  }
  
  .joinEmail-text {
    flex: 1;
  }
  
  .email-input-container {
    display: flex;
    align-items: center;
    gap: 1rem; /* Adds space between input and button */
  }

.footer {
    background-color: #025570;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.homepage {
    text-align: center;
    color: #333;
}

.menu-bar {
    background-color: #ADD8E6; /* Deep teal background */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.menu-bar:hover {
    background-color: #ADD8E6; /* Light teal on hover */
}

.menu-logo {
    height: 100px; /* Adjust as needed */
}

.profile-container {
    cursor: pointer;
    position: relative;
}

.profile-icon {
    font-size: 4rem; /* Increase size */
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ADD8E6;
    color: black;
    margin-right: 30px;
    border-radius: 50%;
    position: relative;
}

.profile-container::before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    border: 5px solid transparent;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.carousel-image {
    width: 100%;
    object-fit: cover; /* Ensures images cover the container */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    position: relative;
}

.weather-carousel-text {
    position: absolute;
    color: black;
    font-size: 1rem;
    padding: 1.5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
}
.locations-carousel-text {
    position: absolute;
    color: white;
    font-size: 1.5rem;
    text-align: left;
    bottom: 0;
}
.review-carousel-text {
    position: absolute;
    color: black;
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
  }

.center-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.round-button {
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.round-button:hover {
    background-color: #333;
}

.content-section {
    margin-top: 3rem;
}

/* Hide carousel indicators */
.custom-carousel .p-carousel-indicators {
    display: none; 
}

/* Carousel custom styles */

.custom-carousel .p-carousel-container {
    perspective: 1000px;
}

.custom-carousel .p-carousel-item {
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.custom-carousel .p-carousel-item-next,
.custom-carousel .p-carousel-item-prev {
    transform: rotateY(90deg);
}

.custom-carousel .p-carousel-item.p-carousel-item-active {
    transform: rotateY(0deg);
}

.custom-carousel .p-carousel-item img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

