.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .search-input {
    width: 10%;
  }
  
  .header .sort-dropdown {
    width: 10%;
  }
  .dataView{
    background-color: #ADD8E6;
  }